.aboutWrapper
  display flex
  flex-direction: column
  justify-content center
  align-items center
  gap 40px

.about-links-container
  display flex
  gap 15px

.aboutlogo
  width 58px

.selflogo
  width 500px