.footer
  display flex
  flex-direction: column
  align-items center
  justify-content center
  padding 0.5rem 0
  background darken(bg_color, 3%)

  body.dark &
    background lighten(bg_color_dark, 5%)

.gitlogo
  width 16px

.links-container
  display flex
  justify-content center
  align-items center
  gap 15px

.link 
  display flex

.linkContainer {
  display: flex;
  gap: 3px;
}

@media screen and (max-width: 500px) {
  .linkText {
    display: none;
  }
}