.hero
  margin 1rem 0

  &__description
    text-align: center

  .blogTitle 
    display: inline
    text-decoration: underline wavy #7300e6
    text-underline-offset: 6px

.heroLogo 
  width: 13%

.heroHeader 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center