.hero
  margin 1rem 0
  display: flex
  justify-content: space-between
  align-items: center

  .blogTitle 
    display: inline
    text-decoration: underline wavy #7300e6
    text-underline-offset: 6px

.heroLogo 
  width: clamp(100px, 133px, 20%)
  border-radius: 0.25rem

.heroHeader 
  display: flex
  flex-direction: column