.hero
  margin 1rem 0
  display: flex
  justify-content: space-between

  .blogTitle 
    display: inline
    text-decoration: underline wavy #7300e6
    text-underline-offset: 6px

.heroLogo 
  width: 13%
  border-radius: 0.25rem

.heroHeader 
  display: flex
  flex-direction: column