<footer class="footer">
  <div class="links-container">
    <div class="link">
      <img class="gitlogo" alt="react logo" src="../../static/img/icons/react.svg"/> <a href="https://villivald.com">Site</a>
    </div>
    <div class="link">
      <img class="gitlogo" alt="git logo" src="../../static/img/icons/github-icon.svg"/> <a href="https://github.com/villivald">GitHub</a>
    </div>
    <div class="link">
      <img class="gitlogo" alt="twitter logo" src="../../static/img/icons/twitter.svg"/> <a href="https://twitter.com/crapp_blog">Twitter</a>
    </div>
    <div class="link">
      <img class="gitlogo" alt="dev.to logo" src="../../static/img/icons/dev-badge.svg"/> <a href="https://dev.to/villivald">Dev</a>
    </div>
    <div class="link">
      <img class="gitlogo" alt="dev.to logo" src="../../static/img/icons/hackernoon.svg"/> <a href="https://hackernoon.com/u/villivald">Hackernoon</a>
    </div>
    <div class="link">
      <img class="gitlogo" alt="linkedin logo" src="../../static/img/icons/linkedin-icon.svg"/> <a href="https://www.linkedin.com/in/maxim-villivald-4b1b311a3/">LinkedIn</a>
    </div>
  </div>
  &copy; {{ helpers.currentYear() }} - {{ site.meta.title }}
</footer>

