<footer class="footer">
  <div class="links-container">
    <div class="link">
      <a href="https://villivald.com" class="linkContainer">
        <img class="gitlogo" alt="react logo" src="../../static/img/icons/villivald.webp"/>
        <p class="linkText">Site</p>
      </a>
    </div>
    <div class="link">
      <a href="https://github.com/villivald" class="linkContainer">
        <img class="gitlogo" alt="git logo" src="../../static/img/icons/github.svg"/>
        <p class="linkText">GitHub</p>
      </a>
    </div>
    <div class="link">
      <a href="https://notacult.social/@villivald" class="linkContainer">
        <img class="gitlogo" alt="mastodon logo" src="../../static/img/icons/mastodon.svg"/>
        <p class="linkText">Mastodon</p>
      </a>
    </div>
    <div class="link">
      <a href="https://dev.to/villivald" class="linkContainer">
        <img class="gitlogo" alt="dev.to logo" src="../../static/img/icons/dev-badge.svg"/>
        <p class="linkText">Dev</p>
      </a>
    </div>
    <div class="link">
      <a href="https://hackernoon.com/u/villivald" class="linkContainer">
        <img class="gitlogo" alt="dev.to logo" src="../../static/img/icons/hackernoon.svg"/>
        <p class="linkText">Hackernoon</p>
      </a>
    </div>
    <div class="link">
      <a href="https://www.linkedin.com/in/villivald" class="linkContainer">
        <img class="gitlogo" alt="linkedin logo" src="../../static/img/icons/linkedin.svg"/>
        <p class="linkText">LinkedIn</p>
      </a>
    </div>
  </div>
  &copy; {{ helpers.currentYear() }} - {{ site.meta.title }}
</footer>

