<footer class="footer">
  <div class="links-container">
    <div class="link">
      <img class="gitlogo" src="../../static/img/github-icon.svg"/> <a href="">GitHub</a>
    </div>
    <div class="link">
      <img class="gitlogo" src="../../static/img/twitter.svg"/> <a href="">Twitter</a>
    </div>
    <div class="link">
      <img class="gitlogo" src="../../static/img/dev-badge.svg"/> <a href="">Dev</a>
    </div>
  </div>
  &copy; {{ helpers.currentYear() }} - {{ site.meta.title }}
</footer>

